@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
}

.image-container {
  display: flex;
  max-width: 100vw;
  max-height: 50vh;
}

.image-container img {
  object-fit: cover;
  width: 100%;
}

/* .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80vw;
} */

/* .logos div { */
.logo {
  width: calc(80vw/2);
  min-width: 300px;
  display: flex;
  margin-bottom: -4rem;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80%;
  height: auto;
}

.info {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* gap: 6.5rem; */
  text-align: center;
}

.info div {
  max-width: 400px;
}

.info h1 {
  font-size: clamp(1rem, 4vw + 1rem, 2rem);
}

.info h1,
.info h2,
.info h3,
.info p {
  color: #4d4d49;
}

.info-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.info-text p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

#navigate-button {
  width: 150px;
  height: 40px;
  /* margin-top: 1rem; */
  background-color: #2b2b29;
  border: 1px solid #2b2b29;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  margin: 2rem auto;
}

#navigate-button:hover {
  cursor: pointer;
  background-color: #55554f;
}


@media (max-width: 1000px) {
  .info h1 {
    margin-top: 2rem;
  }
}

@media (min-width: 821px) {
  #navigate-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (max-width: 540px) {
  .info {
    flex-direction: column-reverse;
    /* justify-content: flex-start; */
    align-items: center;
  }
}

@media (max-width: 414px) {
  /* .logos div:nth-child(2) {
    margin-bottom: -2rem;
  } */
  /* .info-container {
    gap: 4rem;
  } */
}

@media (max-width: 360px) {
  /* .logos div img {
    width: 65%;
  }
  .logos div:first-child {
    margin-bottom: -3rem;
  } */
}